<template>
<div class="page employee-page">
	<h2>
		Employees
	</h2>
	<custom-table
		:headers="headers"
		:data="employees"
		:meta="meta"
		:rowsPerPageItems="rowsPerPageItems"
	/>
</div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import CustomTable from '@/components/CustomTable'

export default {
	components: {
		CustomTable
	},
	data: () => ({
		headers: [
			{
				text: 'Id',
				value: 'id',
			},
			{
				text: 'Full name',
				value: 'full_name',
			},
			{
				text: 'Birth date',
				value: 'birth_date',
			},
			{
				text: 'Type',
				value: 'type',
			},
			{
				text: 'Department',
				value: 'department_name'
			},
			{
				text: 'Position',
				value: 'position'
			},
			{
				text: 'Salary, $',
				value: 'salary'
			}
		],
		rowsPerPageItems: [10, 25, 50, 100]
	}),
	computed: {
		...mapState({
			employees: ({ EmployeeStore }) => EmployeeStore.list,
			meta: ({ EmployeeStore }) => EmployeeStore.meta,
			departments: ({ EmployeeStore }) => EmployeeStore.departments
		})
	},
	mounted() {
		this.getItems()
	},
	methods: {
		...mapActions({
			getEmployees: 'EmployeeStore/getEmployees'
		}),
		getItems() {
			let query = this.$route.query
			if(!this.$route.query.page) query.page = this.meta.page
			if(!this.$route.query.perPage) query.perPage = this.meta.perPage
			if(this.$route.params.department_id) query.department_id = this.$route.params.department_id
			this.getEmployees(query)
		}
	},
	watch: {
		'$route.query'() {
			this.getItems()
		}
	}
}
</script>

<style>

</style>
