<template>
<div class="page home-page">
	<h1>
		Home page
	</h1>
	<router-link :to="{ name: 'employees' }">
		Show employees
	</router-link>
</div>
</template>

<script>
export default {

}
</script>

<style>

</style>
