<template>
<div class="custom-sidebar">
	<ul>
		<li>
			<router-link :to="{ name: 'employees' }">
				Show all
			</router-link>
		</li>
		<li v-for="(item, index) in departments"
			:key="index"
		>
			<router-link :to="{ name: 'department-employees', params: { department_id: item.id } }">
				{{ item.name }}
			</router-link>
		</li>
	</ul>
</div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
	computed: {
		...mapState({
			departments: ({ EmployeeStore }) => EmployeeStore.departments
		})
	},
	mounted() {
		this.getDepartments()
	},
	methods: {
		...mapActions({
			getDepartments: 'EmployeeStore/getDepartments'
		})
	}
}
</script>

<style lang="scss">
.custom-sidebar {
	width: 25%;
	border-right: 1px solid #000;
	box-sizing: border-box;
	height: 100vh;
	display: inline-block;

	ul {
		list-style: none;
		padding: 0;
		border-top: 1px solid #000;

		li {
			background-color: #f1f1f1;
			border-bottom: 1px solid #000;

			&:hover {
				background-color: #cecece;
			}
			a {
				color: #000;
				text-decoration: none;
				padding: 10px;
				display: inline-block;
				width: 100%;
				box-sizing: border-box;
				cursor: pointer;

			}
		}
	}
}
</style>
