<template>
<div class="custom-table">
	<div class="no-results" v-if="data.length == 0">
		<p>
			No results
		</p>
	</div>
	<div v-else>
		<table>
			<thead>
				<tr>
					<th v-for="(item, index) in headers" :key="index">
						{{ item.text }}
					</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(item, index) in data" :key="index">
					<td v-for="(colName, colIndex) in headers" :key="colIndex">
						{{ item[colName.value] }}
					</td>
				</tr>
			</tbody>
		</table>
		<div class="pagination">
			<ul>
				<li @click="prev()"
					:class="['button', isPrevButtonDisable ? 'disabled' : '']"
				>
					prev
				</li>
				<li>
					{{ meta.page }}
				</li>
				<li @click="next()"
					:class="['button', isNextButtonDisable ? 'disabled' : '']"
				>
					next
				</li>
			</ul>
			<div class="rows-per-page">
				<span>
					Rows per page
				</span>
				<select v-model="perPage">
					<option v-for="(item, index) in rowsPerPageItems"
						:key="index"
						:value="item"
					>
						{{ item }}
					</option>
				</select>
				<span v-if="meta.total">
					{{ meta.from + ' - ' + meta.to + ' of ' + meta.total }}
				</span>
			</div>
		</div>
	</div>
</div>
</template>

<script>
export default {
	props: {
		headers: Array,
		data: Array,
		meta: Object,
		rowsPerPageItems: Array
	},
	data: (vm) => ({
		perPage: vm.rowsPerPageItems[0]
	}),
	computed: {
		isPrevButtonDisable() {
			return this.$route.query.page <= 1
		},
		isNextButtonDisable() {
			return this.$route.query.page >= this.meta.numberOfPages
		}
	},
	methods: {
		prev() {
			if(this.isPrevButtonDisable) return
			let page = parseInt(this.$route.query.page) - 1
			this.$router.replace({ query: {...this.$route.query, page } })
		},
		next() {
			if(this.isNextButtonDisable) return
			let page = parseInt(this.$route.query.page) + 1
			this.$router.replace({ query: {...this.$route.query, page } })
		}
	},
	watch: {
		perPage() {
			this.$router.replace({ query: {...this.$route.query, perPage: this.perPage } })
		}
	}
}
</script>

<style lang="scss">
.custom-table {
	table {
		th, td {
			padding: 10px;
		}
	}

	.pagination {
		ul {
			list-style: none;
			padding: 0;
			display: inline-block;

			li {
				display: inline-block;
				border: 1px solid #000;
				width: 50px;
				height: 20px;
				text-align: center;
				border-right: none;
				user-select: none;

				&:last-child {
					border-right: 1px solid #000;
				}
			}
			li.button {
				cursor: pointer;

				&:hover {
					background-color: #cacaca;
				}
			}
			li.disabled {
				background-color: #cacaca;
				cursor: initial;
			}
		}
	}
	.rows-per-page {
		display: inline-block;
		margin-left: 10px;
	}
}
</style>
