<template>
<div>
	<custom-sidebar />
	<router-view />
</div>
</template>

<script>
import CustomSidebar from '@/components/CustomSidebar'

export default {
	components: {
		CustomSidebar
	}
}
</script>

<style>
</style>
